* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    width: 100%;
    height: 100%;
    padding: 0.1px;
}

#nav {
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

#nav-part-1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part-1 h4 {
    font-family: gilroy;
    font-size: 1.2vw;
    font-weight: 600;
}

#nav-part-2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part-2 button {
    font-size: 1vw;
    padding: 0.7vw 1.5vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #000;
    font-weight: 600;
    margin: 0 0.1vw;
}

#nav-part-2 button:nth-child(1) {
    color: #000;
    background-color: transparent;
}

#nav img {
    height: 4vw;
}

#content {
    height: calc(100% - 5vw);
    width: 100%;
    padding-top: 4vw;
}

#content>h3 {
    padding: 0.3vw 0.7vw;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1vw;
    background-color: #f2b0ea;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-family: "source serif 4";
    position: relative;
}

#content h1 {
    font-size: 4vw;
    text-align: center;
    margin: 1vw 0;
    line-height: 4.4vw;
    font-family: "source serif 4";
    font-family: "source serif 4";
    font-weight: 500;
}

#content h4 {
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
}

#content button {
    padding: 0.7vw 1.5vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    font-size: 0.9vw;
    font-weight: 600;
    position: relative;
    left: 50%;
    margin: 1.3vw 0;
    transform: translateX(-50%);
}

#bottom {
    height: 22.4vw;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#bottom::-webkit-scrollbar{
    display: none;
}

.elem {
    display: inline-block;
    height: 100%;
    width: 17vw;
    margin-right: 1vw;
    border-radius: 40px;
    background-color: blue;
    overflow: hidden;
    object-position: center;
    position: relative;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elem video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elem-bottom-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    padding: 1vw;
}

.elem-bottom-text h3 {
    font-size: 1vw;
    margin-bottom: 0.2vw;
    font-weight: 600;
    color: #fff;
}

.elem-caps {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

.elem-caps h5 {
    border: 1px solid #fff;
    padding: 0.2vw 0.6vw;
    border-radius: 50px;
    color: #fff;
    font-size: 0.7vw;
}

#page2{
    width: 100%;
    height: 100%;
    padding: 3vw;
    position: relative;
}

#page2 h1{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
    margin-bottom: 3vw;
}

.box{
    display: inline-block;
    height: 19vw;
    width: 20vw;
    background-color: red;
    border-radius: 10px;
    margin: 1.5vw;
    overflow: hidden;
    position: relative;
}

.box-bottom{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: -30%;
    background: linear-gradient(transparent, rgb(0, 0, 0));
    transition: all ease 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

.box-bottom h5{
    font-size: 1.2vw;
    font-weight: 500;
    color: #fff;
}

.box-bottom i{
    font-size: 0.8vw;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.7vw;
}

.box:hover .box-bottom{
    bottom: 0;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}